<!DOCTYPE html>
<html>
    <head>
        <title>Todays Weather</title>
        <link rel="stylesheet" href="/css/style.css">
        {{!-- <script src="/js/client.js"></script>
    </head> --}}
    <body>
        <div class="main">
        {{>header}}
        <p>
            Hi, thank you for visiting my weather forecast website. 
            I created this website for the purpose of teaching myself
            web devolopment. I used Node JS and express framework for the most part of the backend. I've
            also used multiple API's such as Dark Sky API and Mapbox API, and Google Places API to get the weather and location data.
            For the frontend I've used some CSS (still work in progress).
        </p>
        </div>
        {{>footer}}
    </body>
</html>