<!DOCTYPE html>
<html>
    <head>
        <title>Todays Weather</title>
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>
        <div id="main" class="main">
        {{>header}}
        </div>
        {{>footer}}
        <script src="/js/client.js"></script>
    </body>
</html>