<!DOCTYPE html>
<html>
    <head>
        <title>Todays Weather</title>
        {{!-- <link rel="icon" sizes="16x16" href="../../images/favicon-16x16.png"> --}}
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id="main" class="main">
        {{>header}}


        <div class="search-box">
            <form action="">
            <input type="text" id="locationInput" placeholder="Location" onkeypress="this.style.minWidth = ((this.value.length + 2) * 6) + 'px';">
            <button>Search</button>
        </form>

        
        </div>
        <div class="search-result-box">
                   <p id="i_msg_1"> </p>
        <p id="i_msg_2"> </p>
        </div>
 
        </div>
  
        {{>footer}}
        <script>
function searchAutocomplete(){
    var input = document.getElementById('locationInput');
    var autocomplete = new google.maps.places.Autocomplete(input);
}
        </script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4VZO2JTkLivsLT4WBugsrPdoReKB8eJQ&libraries=places&callback=searchAutocomplete"></script>
        <script src="/js/client.js"></script>
    </body>
</html> 