<!DOCTYPE html>
<html>
    <head>
        <title>Todays Weather</title>
        <link rel="icon" href="">
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>
        <div class="main">
        {{>header}}

        <form action="">
            <input placeholder="Location">
            <button>Show me the weather</button>
        </form>

        <p id="i_msg_1"> </p>
        <p id="i_msg_2"> </p>


        </div>
        {{>footer}}

        <script src="/js/client.js"></script>
    </body>
</html>